{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>Dutch Position data</h2><br>

    <p>Specify requirements for position data:</p>
    <br>
    <div class='qtop' style="height: 30vh;"> 
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}


      <div class='quodrant1'>
        <label for="cow_id"><b>Cow ID(s):</b></label>
        <input type="text" id="cow_id" name="cow_id" size="10">
      </div>


      <div class='quodrant2'>

        <b>Status:</b><br>
        <input type="checkbox" id="DRACHTIG" name="DRACHTIG" value="DRACHTIG">
        <label for="DRACHTIG"> Drachtig+ </label><br>

        <input type="checkbox" id="GEDEKT" name="GEDEKT" value="GEDEKT">
        <label for="GEDEKT"> Gedekt </label><br>
        
      </div>

    

      <div class='quodrant3'>
        <b>Position data:</b><br>
        <input type="checkbox" id="PA" name="PA" value="PA">
        <label for="PA"> PA </label><br>
        <input type="checkbox" id="PAA" name="PAA" value="PAA">
        <label for="PAA"> PAA </label><br>
        <input type="checkbox" id="FA" name="FA" value="FA">
        <label for="FA"> FA </label><br>
        <input type="checkbox" id="PC" name="PC" value="PC">
        <label for="PC"> PC </label><br>  
      </div>

      <div class='quodrant4'>
        <label for="start_date"><b>Start date:</b></label>
        <input type="text" id="start_date" name="start_date" size="10">

        <label for="end_date"><b>End date:</b></label>
        <input type="text" id="end_date" name="end_date" size="10">
      </div>

      <div class='quodrant5'>
        <label for="start_time"><b>Start time:</b></label>
        <input type="text" id="start_time" name="start_time" size="10">

        <label for="end_time"><b>End time:</b></label>
        <input type="text" id="end_time" name="end_time" size="10">
        
        <div style="margin-top: 20px; margin-left: 10px;">
        <input type="checkbox" id="Periodic" name="Periodic" value="Periodic">
        <label for="Periodic"> Periodic </label>
      </div>
      </div>

      <div class='quodrant6'>
        <button class="button button2" type="submit">Fetch data</button>
      </div>
      
      {% csrf_token %}
     
    </form>

  </div>
  <div class="div_border" style="margin-top:  0cm; margin-bottom: 0.5cm;">
  </div>
 

  <p style="font-size:24px"><b>Query status:</b> {{ status_message }}</p>
  <p style="font-size:24px">{{ fetch_message }}</p>
  <ul>
  {% for list in user_inputs %}
    <li>{{ list }}</li>
  {% endfor %}
</ul>
   
  </div>

<div class="SplitRight">
    <h4>Instructions:</h4>
 
  <p>be kind</p>



</div>


{% endblock %}