{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>Dutch database (unfinnished)</h2>

    <p>Please chose the kind of dutch data you want to query:</p>
      <div>
        <button class="button button1" onclick="location.href = '/dutch_position'">Position data</button>
      </div>
      <br>

      <div>
        <button class="button button1" onclick="location.href = '/dutch_milkdata'">Milk data</button>
      </div>
      <br>

      <div>
        <button class="button button1" onclick="location.href = '/dutch_cowinfo'">Cow info</button>
      </div>

</div>

      

<div class="SplitRight">
    
    <h4>Instructions:</h4>
 
    <p>Chose what part of the Dutch database you want to query. (NOT FINNISHED)</p>

</div>


{% endblock %}