{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>Dutch Position data</h2><br>

    <p>Specify requirements for position data:</p>
    <br>
    <div class='qtop' style="height: 30vh;"> 
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}


      <div class='quodrant1'>
        <!--
        <label for="cow_id"><b>Cow ID(s):</b></label>
        <input type="text" id="cow_id" name="cow_id" size="10">

        <br>
        <br>
        <b>OR</b>
        <br>
        <br>
           -->

        <label for="tag_str"><b>Tag string:</b></label><br>
        <input type="text" id="tag_str" name="tag_str" size="10">
    
      </div>

      <!--
      <div class='quodrant2'>

        <b>Status:</b><br>
        <input type="checkbox" id="DRACHTIG" name="DRACHTIG" value="DRACHTIG">
        <label for="DRACHTIG"> Drachtig+ </label><br>

        <input type="checkbox" id="GEDEKT" name="GEDEKT" value="GEDEKT">
        <label for="GEDEKT"> Gedekt </label><br>
        
      </div>
      -->

    

      <div class='quodrant2'>
        <b>Position data:</b><br>
        <input type="checkbox" id="PA" name="PA" value="PA">
        <label for="PA"> PA </label><br>
        <input type="checkbox" id="PAA" name="PAA" value="PAA">
        <label for="PAA"> PAA </label><br>
        <input type="checkbox" id="FA" name="FA" value="FA">
        <label for="FA"> FA </label><br>
        <input type="checkbox" id="PC" name="PC" value="PC">
        <label for="PC"> PC </label><br>  
      </div>

      <div class='quodrant3'>
        <label for="start_date"><b>Start date:</b></label><br>
        <input type="text" id="start_date" name="start_date" size="10">

        <br><label for="end_date"><b>End date:</b></label><br>
        <input type="text" id="end_date" name="end_date" size="10">
      </div>

      <div class='quodrant4'>
        <label for="start_time"><b>Start time:</b></label><br>
        <input type="text" id="start_time" name="start_time" size="10">

        <br><label for="end_time"><b>End time:</b></label><br>
        <input type="text" id="end_time" name="end_time" size="10">
        
        <div style="margin-top: 20px; margin-left: 10px;"><br>
        <input type="checkbox" id="Periodic" name="Periodic" value="Periodic">
        <label for="Periodic"> Periodic </label>
      </div>
      </div>

      <div class='quodrant5'>
        <button class="button button2" type="submit">Fetch data</button>
      </div>

      <div class="quadrant6">

      </div>
      
      {% csrf_token %}
     
    </form>

  </div>
  <div class="div_border" style="margin-top:  0cm; margin-bottom: 0.5cm;">
  </div>
 

  <p style="font-size:24px"><b>Query status:</b> {{ status_message }}</p>
  {% if download_link %}
    <a href="/download_after_query">Click here to go to the download page.</a>
  {% endif %}
  <br>
  <p style="font-size:24px">{{ fetch_message }}</p>
  <ul>
  {% for list in user_inputs %}
    <li>{{ list }}</li>
  {% endfor %}
</ul>
   
  </div>

<div class="SplitRight">
      <p>Inputs marked with <b>*</b> are mandatory.</p>

  <ul>
    <!--
    <li><b>Cow ID(s):</b> Only integers, seperate serval IDs by commas only.<br> 
    Example: <i>411,324,799,122</i></li>
    -->
    <li><b>*Tag string:</b> The ID string of a cow's tag.<br> 
      Example: <i>0021F512, 0032B530</i></li>
 
    <li><b>*Position data:</b><br>
    Chose what type of position data that should be queried.</li>
    <li><b>*Date:</b> YY-MM-DD. <br>
    Example: <i>20-03-14</i></li>

    <li><b>*Time:</b> hh:mm:ss. <br>
    Example: <i>08:34:11</i></li>

    <li><b>Periodic:</b> If selected, data of time internval for each day within the date interval will be selected. If not, all records between absolute start and end date/time will be selected.</li>
  </ul>  
  



</div>


{% endblock %}