{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>Query Dutch Data</h2>

    <p style="font-size: 18px;">Please chose what kind of Data database data that you want to query:</p>
      <div style="margin-bottom: 0.35cm; margin-top: 0.65cm;">
        <button class="button button1" onclick="location.href = '/dutch_position'">Position data</button>
      </div>
      <br>

      <div style="margin-bottom: 0.35cm;">
        <button class="button button1" onclick="location.href = '/dutch_milkdata'">Milk data</button>
      </div>
      <br>

      <div style="margin-bottom: 0.35cm;">
        <button class="button button1">Mapping info (not in use)</button>
        <!--onclick="location.href = '/dutch_mapping_info'"-->
      </div>

</div>

      

<div class="SplitRight">
    
  <h4>Content</h4>
  <br>
  <ul>
    <li><b>Position data:</b> <br>Position data of type FA, PA, PAA and PC.</li>
    <br>
    <li><b>Milk data:</b> <br>Data about milking station, time and daily milk production.</li>
    <br>
    <li><b>Mapping info:</b> <br>Data about tags worn by specified cows.</li>
  </ul>

</div>

</div>


{% endblock %}