{% extends 'base.html' %}

{% block content %}
    <div class="SplitLeft">
    
    
    <h3>About Cowsite</h3>
    <br>
    <div style="max-width:50%; word-wrap:break-word;">
        <p style="font-size: 18px;">
            This web page and database system was constructed by three students at 
            Uppsala University as a part of a 15 credit course (2020/2021). 
            The system uses MySQL and communicates woth the web application using the Python package Django.
            </p>
    </div>

    <br>
    <div>
        <h4>Made by</h4>
        <p>Li Ju, <b>Li.Ju.0122@student.uu.se</b> </p>
        <p>Linus Kanestad, <b>Linuskanestad@hotmail.com</b></p>
        <p>Gustaf Andersson, <b>gustaf.t.andersson@gmail.com</b></p>
        <p>Supervised by Keni Ren (SLU).</p>
    </div>
</div>



<div class="SplitRight">




</div>




{% endblock %}