<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>cowsite</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/extra.css' %}">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu </div>
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/upload_swedish/" class="list-group-item list-group-item-action bg-light">Upload Swedish data</a>
        <a href="/upload_dutch/" class="list-group-item list-group-item-action bg-light">Upload Dutch data</a>
        <a href="/swe_db/" class="list-group-item list-group-item-action bg-light">Swedish data</a>
        <a href="/dutch_data/" class="list-group-item list-group-item-action bg-light">Dutch data (unf)</a>
        <a href="/overview/" class="list-group-item list-group-item-action bg-light">Overview</a>
        <!--<a href="#" class="list-group-item list-group-item-action bg-light">dunno</a>-->
        <a href="/about/" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!--<li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->

            <!--
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            -->
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          {% block content %}
          <div class="SplitLeft">
            <div style="max-width:70%; word-wrap:break-word;">
        <h1 class="mt-4">Welcome to Cowsite!</h1>
        <p style="font-size:18px">This is the web page access point for accessing the database system for the cow data. Here you can insert data, fetch/download data and view overall meta data. To learn more, please keep reading.</p>
        <br>
        <h3>Insert/Scan for data files</h3>
        <p style="font-size:18px">To insert files into the database, go to the <i>File Scan</i> tab. 
          </p>

          <br>
          <h3>Query/Download data</h3>
          <p style="font-size:18px">To download data from the database, go to the <i>Swedish data</i> tab to access data from the Swedish farm or go to the tab Dutch data to access data from the Dutch farm.
            </p>

            <br>
            <h3>Overview - Meta data</h3>
            <p style="font-size:18px">To see meta data regarding the content of the database system, go to the <i>Overview</i> tab.</p>
        </div>
      </div>
        
        <div class="SplitRight">
          <!--<h2>Nothing?</h2>-->
        </div>

        {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
