{% extends 'base.html' %}

{% block content %}



<div style="max-width: 60%; margin-top: 14px;">
  <h2>Overview</h2>
<p style="font-size: 18px;">Welcome to Overview! Here you can view meta data of the files stored in the Swedish and Dutch databases.</p>
<p style="font-size: 16px;"><b>Status message:</b> {{ status_message }} </p>
</div>
<div class="div_border" style="margin-top:  0cm; margin-bottom: 0.5cm; width: 100%;">

</div>


     <!-- Swedish Tables -->
    <div class="SplitLeft" style="width:49%; word-wrap:break-word; font-size: 18px;">
    


        <h4>Swedish Database size</h4>
        <div id="size_table">
          <table>
            <thead>
              <tr>
                {% for header in size_header %}
                  <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for l1 in list_size %}
              <tr>

                  {% for l2 in l1 %}
                      <td>{{ l2 }}</td>
                  {% endfor %}

              </tr>
              {% endfor %}
          </tbody>
          </table>
          </div>

          <br>

        <h4>Swedish Information table</h4>
        <div id="info_table">
            <table>
              <thead>
                <tr>
                  {% for header in info_header %}
                    <th>{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                  {% for l1 in list_info %}
                <tr>

                    {% for l2 in l1 %}
                        <td>{{ l2 }}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
    <br>
    <h4>Swedish Position table</h4>


    <div id="position_table">
        <table>
          <thead>
            <tr>
              {% for header in position_header %}
                <th>{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for l1 in list_pos %}
            <tr>

                {% for l2 in l1 %}
                    <td>{{ l2 }}</td>
                {% endfor %}

            </tr>
            {% endfor %}

        </tbody>
        </table>
        </div>


        </div>

    </div>


  <!-- Dutch Tables -->
<div class="SplitRight" style="width: 49%;">
    
  <h4>Dutch Database size</h4>
  <div id="dutch_size_table">
    <table>
      <thead>
        <tr>
          {% for header in dutch_size_header %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for l1 in dutch_list_size %}
        <tr>

            {% for l2 in l1 %}
                <td>{{ l2 }}</td>
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>

    <br>

  <h4>Dutch data table</h4>
  <div id="dutch_info_table">
      <table>
        <thead>
          <tr>
            {% for header in dutch_info_header %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for l1 in dutch_list_info %}
          <tr>

              {% for l2 in l1 %}
                  <td>{{ l2 }}</td>
              {% endfor %}

          </tr>
          {% endfor %}
      </tbody>
      </table>
      </div>
<br>
<h4>Dutch Position table</h4>


<div id="dutch_position_table">
  <table>
    <thead>
      <tr>
        {% for header in dutch_position_header %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for l1 in dutch_list_pos %}
      <tr>

          {% for l2 in l1 %}
              <td>{{ l2 }}</td>
          {% endfor %}

      </tr>
      {% endfor %}

  </tbody>
  </table>
  </div>


  </div>


</div>




{% endblock %}