{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>List Swedish database entries</h2>

    <p>Please chose what kind of Swedish data you want to query:</p>
      <div>
        <button class="button button1" onclick="location.href = '/dblist_position'">Position data</button>
      </div>
      <br>

      <div>
        <button class="button button1" onclick="location.href = '/dblist_milkdata'">Milk data</button>
      </div>
      <br>

      <div>
        <button class="button button1" onclick="location.href = '/dblist_cowinfo'">Cow info</button>
      </div>

</div>

      

<div class="SplitRight">
    
    <h4>Instructions:</h4>
 
    Choose what part of the database you want to query.

</div>


{% endblock %}