{% extends 'base.html' %}

{% block content %}
<div class="SplitLeft">
    
    <h2>Swedish database</h2>

    <p style="font-size: 18px;">Please chose what kind of Swedish data you want to query:</p>
      <div style="margin-bottom: 0.75cm; margin-top: 0.75cm;">
        <button class="button button1" onclick="location.href = '/swe_position'">Position data</button>
      </div>
      

      <div style="margin-bottom: 0.75cm;">
        <button class="button button1" onclick="location.href = '/swe_milkdata'">Milk data</button>
      </div>
    

      <div style="margin-bottom: 0.75cm;">
        <button class="button button1" onclick="location.href = '/swe_cowinfo'">Cow info</button>
      </div>
  

      <div style="margin-bottom: 0.75cm;">
        <button class="button button1" onclick="location.href = '/swe_mapping_info'">Mapping info</button>
      </div>

</div>

      

<div class="SplitRight">
    
    <h4>Content</h4>
    <br>
    <ul>
      <li><b>Position data:</b> <br>Position data of type FA, PA, PAA and PC.</li>
      <br>
      <li><b>Milk data:</b> <br>Data about milking station, time and daily milk production.</li>
      <br>
      <li><b>Cow info:</b> <br>General info, health info and insemination data.</li>
      <br>
      <li><b>Mapping info:</b> <br>Data about tags worn by specified cows.</li>
    </ul>

</div>


{% endblock %}